ion-grid.home{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
}

ion-input.input{
    background: rgb(231, 231, 226);

}

ion-button.button{
    width: 100%;
}
